/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
/* @import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css'); */

/* Sections style */
/* @import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css'); */

/* gallery */

body {
  margin: 0;
  padding: 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 24px 156px;
}

.gallery-item {
  list-style: none;
  width: calc(33.33% - 24px);
  box-sizing: border-box;
}

.gallery-image {
  width: 100%;
  height: auto;
  display: block;
  max-height: 200px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.gallery-item:hover .gallery-image {
  transform: scale(1.05);
}

/* form */

.feedback-form {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 24px;
  width: 100%;
  max-width: 400px;
}

.feedback-form label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;

  display: block;
  margin-bottom: 8px;
}

input[type='email'],
textarea {
  width: 360px;
  height: 100%;
  padding: 10px;
  margin: 8px 0 8px 0;
  border: 1px solid #808080;
  border-radius: 4px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;

  outline: none;
  transition: border-color 0.3s ease;
}

input[type='email']:hover,
textarea:hover {
  border-color: #000;
}

input[type='email']:focus,
textarea:focus {
  border-color: #808080;
}

button[type='submit'] {
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  width: 95px;
  height: 40px;

  background-color: #4e75ff;

  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button[type='submit']:hover {
  background-color: #6c8cff;
}

button[type='submit']:active {
  transform: scale(0.98);
}

textarea {
  resize: vertical;
}
